body {
    box-sizing: border-box; 
    margin: 0 auto;
    font-family:Arial, Helvetica, sans-serif; 
   
} 

#header {
    background-color: #B00E0A;
    height: 100px;
    width: 100%;
    position: relative;
    position: fixed;
    
}



nav ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    
}
 
nav li {
    display: inline-block;
    margin-left: 100px;
    margin-top: 20px;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: lightgrey;
    font-size: 1.5em;
    font-weight: bolder;
}
   nav a:hover {
       color:black;
       transition: ease-in-out 200ms;
   }

 
#nav-bar {
   position: absolute;
   position: fixed;
   top: 20px;
   right: 100px;
}

#header-img {
    width: 30%;
    height: 100px;
   
}
.iframe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

#video {
    flex: 1 1 auto;
    margin: 200px;
    margin-top: 100px;
    padding: 0;
    width: 65vw !important;
    height: 80vh  !important; 
    box-shadow: 10px 10px 10px grey;
    
}
#form { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;
    padding-bottom: 30px;
    margin: 0;
    background-color: darkgrey;
}

#form-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
    background-color: darkgrey;
}

h2 {
    margin: 0px;
    margin-top: 10px;
}

#email {
    margin: 10px;
    width: 23em;
    height: 1.5em;
    border-radius: 5px;
}

#submit {
    width: 10em;
    height: 2em;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-color: black;
    border-radius: 5px;

    background-color:darkgoldenrod;
}

#footer {
    margin: auto;
    padding-top: 10px;
    text-align: center;
    height: 100px;
    width: 100%;
    background-color: #B00E0A;
}
footer p {
    color:darkgray;
}