body {
    box-sizing: border-box;
    margin: auto;
} 

header {
    background-color: chocolate;
    height: 100px;
    position: fixed;
    position: relative;
   }
 
#nav-bar {
   position: absolute;
   
   
}

img {
    width: 100%;
}